@if(user_rol == 1) {
<div class="container flex" style="margin-left: 5%; padding-top: 1%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Productos
  </h4>
</div>
<div style="margin-top: 1%; margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%">
    <button
      [routerLink]="['/newProduct']"
      type="button"
      class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2"
    >
      Agregar producto
    </button>
  </div>
</div>
} @else {
<div class="container flex" style="margin-left: 5%; padding-top: 1%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Premios disponibles
  </h4>
</div>
} @if (user_rol == 4 || user_rol == 3) {
<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-blue-100 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-16 py-3">
            <span class="sr-only">Image</span>
          </th>
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">Valor</th>
          <th scope="col" class="px-6 py-3">Opciones</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td class="p-4">
            <!--Hay que validar el index del producto -->
            <img
              src="{{ producto.url }}"
              class="w-16 md:w-32 max-w-full max-h-full"
              alt="Borgwarner"
            />
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ producto.nombre }}
          </td>
          <td class="px-6 py-4 font-semibold text-blue-800 dark:text-white">
            {{ producto.valor }} puntos
          </td>
          <td class="px-6 py-4 font-semibold text-lime-700 dark:text-white">
            @if(user!.puntos >= producto.valor) {
            <button
              (click)="canjearProducto(producto.id)"
              style="font-weight: 700"
              type="button"
              class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Canjear
            </button>
            } @else { ¡Aun no completas este producto! Sigue compartiendo ideas
            }
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
} @else{
<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-blue-100 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-16 py-3">
            <span class="sr-only">Image</span>
          </th>
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">Valor</th>
          <th scope="col" class="px-6 py-3">Opciones</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td class="p-4">
            <!--Hay que validar el index del producto -->
            <img
              src="{{ producto.url }}"
              class="w-16 md:w-32 max-w-full max-h-full"
              alt="Borgwarner"
            />
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ producto.nombre }}
          </td>
          <td class="px-6 py-4 font-semibold text-blue-800 dark:text-white">
            {{ producto.valor }} puntos
          </td>
          <td>
            <button
              [routerLink]="['/productos/', producto.id]"
              type="button"
              class="ml-4 text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
            >
              <img
                class="w-4 h-4"
                aria-hidden="true"
                src="../../../assets/edit.png"
                fill="currentColor"
                viewBox="0 0 18 18"
              />
              <span class="sr-only">Icon description</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
}
<div class="h-10"></div>
