<div class="myContainer flex flex-col md:flex-row gap-6 w-full px-4">
  <!-- Tarjeta de perfil -->
  <div
    class="w-full md:w-1/2 bg-white border border-gray-200 rounded-lg dark:border-gray-700 profileCard p-4"
  >
    <div class="flex flex-col pb-3 text-left">
      <div class="flex flex-col pb-3 items-center">
        <img
          class="w-24 h-24 mb-3 rounded-full"
          src="../../assets/userIcon.png"
          alt="User Icon"
        />
        <h5
          class="mb-1 text-xl font-bold text-center dark:text-white text-blue-900"
        >
          {{ userProfile?.nombre }}
        </h5>

        <div class="flex items-center border-b border-blue-500 py-2 mb-4">
          <input
            [formControl]="ibm"
            name="puntos"
            class="rounded-md w-32 bg-transparent text-gray-700 py-1 px-2 text-md focus:outline-none dark:text-white"
            type="number"
            min="5"
            placeholder="puntos"
            [value]="userProfile?.ibm"
          />
          <h6 class="ml-2 text-lg font-semibold text-blue-800 dark:text-white">
            IBM
          </h6>
        </div>
      </div>

      <div class="space-y-2 text-sm md:text-base mt-4">
        <div>
          <label for="departamento" class="font-bold">Departamento</label>
          <select
            [formControl]="departamento_id"
            id="departamento"
            class="form-control"
          >
            <option *ngFor="let dep of departamentos" [value]="dep.id">
              {{ dep.nombre }}
            </option>
          </select>
        </div>

        <label for="area" class="font-bold">Área</label>
        <select [formControl]="area_id" id="area" class="form-control">
          <option *ngFor="let area of areas" [value]="area.id">
            {{ area.nombre }}
          </option>
        </select>

        <!--
        <div>
          <h6 class="font-bold text-gray-900 dark:text-white">Área</h6>
          <p class="text-gray-900 dark:text-white">{{ userProfile?.area }}</p>
        </div>

        
        <div>
          <h6 class="font-bold text-gray-900 dark:text-white">Locación</h6>
          <p class="text-gray-900 dark:text-white">
            {{ userProfile?.locacion != null ? userProfile?.locacion : "N/A" }}
          </p>
        </div>
      -->
        <div>
          <h6 class="font-bold text-gray-900 dark:text-white">Estado</h6>
          <select
            (change)="onEstadoChange($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white w-full mt-2"
          >
            <option [value]="userProfile?.is_active" disabled selected hidden>
              {{ userProfile?.is_active ? "Activo" : "Inactivo" }}
            </option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row justify-center gap-4 mt-6">
        <button
          (click)="editar()"
          type="button"
          class="text-white bg-blue-800 hover:bg-blue-900 font-bold rounded-lg text-sm px-6 py-2 text-center transition duration-300"
        >
          Editar datos
        </button>
        <button
          (click)="goBack()"
          type="button"
          class="text-white bg-red-600 hover:bg-red-800 font-bold rounded-lg text-sm px-6 py-2 text-center transition duration-300"
        >
          Regresar
        </button>
      </div>
      <div class="mt-6 border-t pt-4">
        <h5 class="text-lg font-bold text-gray-900 dark:text-white mb-4">
          Cambiar contraseña
        </h5>
        <form class="space-y-4" [formGroup]="form" (ngSubmit)="setPassword()">
          <div class="w-full">
            <label
              for="new_password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Nueva contraseña
            </label>
            <div class="flex items-center gap-2">
              <input
                formControlName="new_password"
                [type]="showNewPassword ? 'text' : 'password'"
                id="new_password"
                name="new_password"
                required
                class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
              <button
                type="button"
                (click)="toggleNewPasswordVisibility()"
                class="text-gray-600 dark:text-gray-300 hover:text-blue-700 dark:hover:text-white transition duration-300 ease-in-out"
                tabindex="-1"
              >
                <svg
                  *ngIf="!showNewPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                  />
                </svg>
                <svg
                  *ngIf="showNewPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-slash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
                  />
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
                  />
                </svg>
              </button>
            </div>
            @if(newPassword?.invalid && (newPassword?.dirty ||
            newPassword?.touched)){ @if(newPassword?.hasError('minlength')) {
            <small class="text-danger"
              >Tu contraseña debe tener al menos 8 caracteres.</small
            >
            } }
          </div>

          <div class="w-full">
            <label
              for="new_password_confirmation"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Confirmar Nueva contraseña
            </label>
            <div class="flex items-center gap-2">
              <input
                formControlName="new_password_confirmation"
                [type]="showNewPasswordConfirmation ? 'text' : 'password'"
                id="new_password_confirmation"
                name="new_password_confirmation"
                required
                class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
              <button
                type="button"
                (click)="toggleNewPasswordConfirmationVisibility()"
                class="text-gray-600 dark:text-gray-300 hover:text-blue-700 dark:hover:text-white transition duration-300 ease-in-out"
                tabindex="-1"
              >
                <svg
                  *ngIf="!showNewPasswordConfirmation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                  />
                </svg>
                <svg
                  *ngIf="showNewPasswordConfirmation"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-slash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
                  />
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
                  />
                </svg>
              </button>
            </div>
            @if(newPasswordConfirmation?.invalid &&
            (newPasswordConfirmation?.dirty ||
            newPasswordConfirmation?.touched)){
            @if(newPasswordConfirmation?.hasError('minlength')) {
            <small class="text-danger"
              >Tu contraseña debe tener al menos 8 caracteres.</small
            >
            } }
          </div>

          @if (form.errors?.['passwordMismatch'] &&
          (form.get('confirmed_password')?.touched ||
          form.get('confirmed_password')?.dirty)) {
          <small class="text-red-500 text-sm text-center"
            >Las contraseñas no coinciden.</small
          >
          } @if(errorMessage){
          <div class="text-red-500 text-sm mt-2 text-center">
            {{ errorMessage }}
          </div>
          }
          <button
            type="submit"
            [disabled]="form.invalid"
            class="bg-blue-800 hover:bg-blue-900 text-white font-bold text-sm py-2 px-4 rounded w-full md:w-auto transition duration-300 ease-in-out disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
          >
            Actualizar contraseña
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Tarjeta de puntos e ideas -->
  <div
    class="w-full md:w-1/2 profileCard bg-white border border-gray-200 rounded-lg dark:border-gray-700 p-4 dark:bg-gray-800 max-h-[600px] overflow-y-auto"
  >
    <h5 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">
      Puntos del usuario
    </h5>

    <div *ngIf="userProfile?.puntos == 0; else puntosInput">
      <h6 class="mb-4 text-lg font-semibold text-blue-800 dark:text-white">
        Este usuario aún no cuenta con puntos
      </h6>
    </div>

    <ng-template #puntosInput>
      <div class="flex items-center border-b border-blue-500 py-2 mb-4">
        <input
          [formControl]="puntos"
          name="puntos"
          class="rounded-md w-32 bg-transparent text-gray-700 py-1 px-2 text-md focus:outline-none dark:text-white"
          type="number"
          min="5"
          placeholder="puntos"
          [value]="userProfile?.puntos"
        />
        <h6 class="ml-2 text-lg font-semibold text-blue-800 dark:text-white">
          puntos
        </h6>
      </div>
    </ng-template>

    <h5 class="mb-4 text-2xl font-bold text-blue-900 dark:text-white">
      Ideas implementadas
    </h5>

    <div *ngIf="ideas?.length !== 0; else noIdeas" class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th class="px-6 py-3">Título</th>
            <th class="px-6 py-3">Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idea of ideas">
            <td class="px-6 py-4 font-bold text-gray-900 dark:text-white">
              {{ idea.titulo }}
            </td>
            <td
              class="px-6 py-4 font-bold whitespace-nowrap"
              [ngClass]="{
                'text-yellow-500': idea.estatus == 1,
                'text-emerald-600': idea.estatus == 2,
                'text-blue-700': idea.estatus == 3,
                'text-red-800': idea.estatus == 4,
                'dark:text-white': true
              }"
            >
              {{
                idea.estatus == 1
                  ? "En revisión"
                  : idea.estatus == 2
                  ? "Aceptada"
                  : idea.estatus == 3
                  ? "Implementada"
                  : "Rechazada"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noIdeas>
      <h5 class="mt-4 text-lg font-semibold text-blue-600 dark:text-white">
        ¡Este usuario aún no tiene ideas implementadas!
      </h5>
    </ng-template>
  </div>
</div>
