<!--Hay q modificar el diseno, me voy a chambear en otros request-->

<div class="container mx-auto px-4 py-6">
  <div class="grid gap-6 xl:grid-cols-[2fr,1fr] md:grid-cols-1">
    <!-- Columna izquierda -->
    <div
      class="w-full bg-white border border-gray-200 rounded-lg p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      @if(this.categoria === 1 || this.categoria === null) {

      <h5 class="mb-4 text-2xl font-bold text-blue-800 dark:text-white">
        Título de la idea
      </h5>
      } @else{
      <h5 class="mb-4 text-2xl font-bold text-blue-800 dark:text-white">
        Título del proyecto
      </h5>
      }
      <h6
        class="mb-4 text-xl font-semibold uppercase text-gray-900 dark:text-white"
      >
        {{ idea?.idea?.titulo }}
      </h6>

      <!-- Contexto actual -->
      @if(this.categoria === 1 || this.categoria === null) {
      <h5 class="mb-2 text-2xl font-bold text-blue-800 dark:text-white">
        Contexto actual
      </h5>
      <div class="mb-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-lg">
        <p class="text-lg text-gray-700 dark:text-gray-300">
          {{ idea?.idea?.antecedente }}
        </p>
      </div>
      }

      <!-- Propuesta -->
      @if(this.categoria === 1 || this.categoria === null) {

      <h5 class="mb-2 text-2xl font-bold text-blue-800 dark:text-white">
        Propuesta
      </h5>
      } @else {
      <h5 class="mb-2 text-2xl font-bold text-blue-800 dark:text-white">
        Descripción del proyecto
      </h5>
      }
      <div class="mb-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-lg">
        <p class="text-lg text-gray-700 dark:text-gray-300">
          {{ idea?.idea?.propuesta }}
        </p>
      </div>

      <!-- Condiciones actuales -->
      @if(this.categoria === 1 || this.categoria === null) {
      <h5 class="mb-2 text-2xl font-bold text-blue-800 dark:text-white">
        Condiciones actuales
      </h5>
      <figure class="max-w-full">
        <img
          class="rounded-lg w-full h-auto object-contain"
          [src]="safeImage"
          alt="imagen"
        />
        <figcaption
          class="mt-2 text-center text-sm text-gray-500 dark:text-gray-400"
        >
          Condiciones
        </figcaption>
      </figure>
      }
    </div>

    <!-- Columna derecha -->
    <div
      class="w-full bg-white border border-gray-200 rounded-lg p-6 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="space-y-4 text-left">
        <!-- Estatus -->
        <h6 class="text-xl font-semibold text-blue-800 dark:text-white">
          Estatus de la idea
        </h6>
        <select
          disabled
          (change)="onEstadoChange($event)"
          class="w-full p-2.5 rounded-lg border border-gray-300 dark:border-gray-600 text-sm text-gray-900 dark:text-white bg-gray-50 dark:bg-gray-700 focus:ring-blue-500 focus:border-blue-500"
        >
          <option value="{{ idea?.idea?.estatus }}" disabled selected hidden>
            {{ idea?.idea?.estatus_idea }}
          </option>
          <option *ngFor="let estado of estados" [value]="estado.id">
            {{ estado.nombre }}
          </option>
        </select>

        <!-- Colaboradores -->
        <h6 class="text-xl font-semibold text-blue-800 dark:text-white">
          Colaboradores de la idea
        </h6>
        <ul
          *ngFor="let colaborador of colaboradores"
          class="w-full text-sm font-medium border border-gray-200 rounded-lg dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
        >
          <li
            class="px-4 py-2 border-b dark:border-gray-600 hover:text-blue-600"
          >
            {{ colaborador.nombre }}
          </li>
        </ul>

        <!-- Origen de mejora -->
        <h6 class="text-xl font-semibold text-blue-800 dark:text-white">
          Origen de mejora
        </h6>
        <span class="font-bold text-gray-700 dark:text-white">
          @switch (this.categoria) { @case (1) { Ideas de mejora } @case (2) {
          Lean workshops } @case(3) { Cambio de nivel de técnicos } @case(4) {
          Scrap/CI } @case(5) { OE } @case(10) { Ahorro de energía } @default
          {No asignado} }
        </span>

        <!-- Tipo de idea -->
        @if(this.categoria == 1 || this.categoria == null) {
        <h6 class="text-xl font-semibold text-blue-800 dark:text-white">
          Tipo de idea
        </h6>
        <div class="space-y-2">
          @if(contable == 0) {
          <div class="flex items-center">
            <input
              disabled
              type="radio"
              checked
              class="w-4 h-4 text-blue-600 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >No contable</label
            >
          </div>
          <div class="flex items-center">
            <input
              disabled
              type="radio"
              class="w-4 h-4 text-blue-600 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Contable</label
            >
          </div>
          } @else {
          <div class="flex items-center">
            <input
              disabled
              type="radio"
              checked
              class="w-4 h-4 text-blue-600 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Contable</label
            >
          </div>
          <div class="flex items-center">
            <input
              disabled
              type="radio"
              class="w-4 h-4 text-blue-600 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >No contable</label
            >
          </div>

          <!-- Ahorro -->
          <h6 class="text-xl font-semibold text-blue-800 dark:text-white mt-4">
            Ahorro
          </h6>
          <p class="text-sm text-gray-900 dark:text-white">
            ${{ idea?.idea?.ahorro }}
          </p>
          }
        </div>

        <!-- Campos -->
        <h6 class="text-xl font-semibold text-blue-800 dark:text-white mt-4">
          Campos
        </h6>
        <div class="space-y-2">
          <div *ngFor="let campo of campos">
            <input
              disabled
              type="checkbox"
              [checked]="checkboxStates[campo.id] || false"
            />
            <span class="ml-2">{{ campo.nombre }}</span>
          </div>
        </div>
        }

        <!-- Botón regresar -->
        <div class="pt-6">
          <button
            (click)="goBack()"
            class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 transition dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-500"
          >
            Regresar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main modal -->

<!--Actividades-->
<h5
  class="mb-2 text-3xl font-bold text-blue-900 dark:text-white"
  style="margin-left: 3%; margin-top: 3%"
>
  Actividades
</h5>

<div class="myContainer mb-10">
  @if(actividades?.length == 0) {
  <h5 class="ml-9 mb-2 text-3xl font-bold text-blue-700 dark:text-white">
    Sin actividades registradas
  </h5>
  } @else{
  <div class="profileCard" style="width: 80%">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-blue-100 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Titulo</th>
            <th scope="col" class="px-6 py-3">Responsable</th>
            <th scope="col" class="px-6 py-3">Fecha de inicio</th>
            <th scope="col" class="px-6 py-3">Fecha de finalizacion</th>
            <th scope="col" class="px-6 py-3">Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actividad of actividades">
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              <a>{{ actividad.titulo }}</a>
            </td>
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              <a>{{ actividad.responsable_name }}</a>
            </td>
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              <a>{{ actividad.fecha_inicio }}</a>
            </td>
            <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
              <a>{{ actividad.fecha_finalizacion }}</a>
            </td>
            @if(actividad.id_estado_actividad == 1) {
            <td class="px-6 py-4 font-semibold text-amber-600 dark:text-white">
              Revision
            </td>
            } @else if(actividad.id_estado_actividad == 2) {
            <td class="px-6 py-4 font-semibold text-amber-800 dark:text-white">
              En proceso
            </td>
            } @else if(actividad.id_estado_actividad == 3) {
            <td
              class="px-6 py-4 font-semibold text-emerald-500 dark:text-white"
            >
              Aceptada
            </td>
            } @else if(actividad.id_estado_actividad == 4){
            <td class="px-6 py-4 font-semibold text-blue-800 dark:text-white">
              Finalizada
            </td>

            } @else{
            <td class="px-6 py-4 font-semibold text-red-800 dark:text-white">
              Rechazada
            </td>
            }
          </tr>
        </tbody>
      </table>
    </div>
    <div class="h-10"></div>
  </div>
  }
</div>
