<nav
  style="background-color: rgb(41, 47, 130)"
  class="fixed top-0 z-50 w-full bg-blue-700 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar "
          type="button"
          class="inline-flex items-center p-2 text-sm text-white rounded-lg sm:hidden focus:outline-none dark:text-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a [routerLink]="['/dashboard']">
          <img
            src="../../assets/logoWhite.png"
            class="h-4 flex ms-2 md:me-24"
            alt="Borgwarner Logo"
          />
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button
              type="button"
              class="transition ease-in-out delay-150 relative duration-300 hover:-translate-y-1 hover:scale-110 founded-full p-2 text-white outline-none"
            >
              <span class="absolute -inset-1.5"></span>
              <!-- Bolita de notificacion-->
              <span class="relative flex left-0 h-1.5 w-1.5">
                <span
                  class="animate-ping delay-700 absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
                ></span>
                <span
                  class="relative inline-flex rounded-full h-2 w-2 bg-sky-500"
                ></span>
              </span>
              <span class="sr-only">Ver notificaciones</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bell-fill size-6"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"
                />
              </svg>
            </button>
          </div>
          <div class="reltive ml-0">
            <button
              type="button"
              class="mt-2 transition ease-in-out delay-150 relative duration-300 hover:-translate-y-1 focus:-translate-y-1 hover:scale-110 focus:scale-110 flex rounded-full text-sm p-1 text-white outline-none"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                fill="currentColor"
                class="bi bi-person-fill size-8"
                viewBox="0 0 16 17"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                />
              </svg>
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                {{ user.nombre }}
              </p>
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                role="none"
              >
                <b>{{ user.rol }}</b>
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a
                  [routerLink]="['/myProfile']"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  >Mi perfil</a
                >
              </li>
              <li>
                <a
                  (click)="logout()"
                  class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-red-600 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  >Cerrar sesión</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full mt-3 px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-5 font-medium">
      <li>
        <a
          [routerLink]="['/admin/reportes-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            [routerLinkActive]="'text-red-600'"
            class="bi bi-bar-chart-line-fill w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-red-600 dark:group-hover:text-white"
            viewBox="0 0 16 16"
          >
            <path
              d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1z"
            />
          </svg>
          <span class="ms-3">Reportes</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/admin/ideas-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            [routerLinkActive]="'text-yellow-400'"
            class="bi bi-lightbulb-fill w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-yellow-400 dark:group-hover:text-white"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Proyectos</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/admin/premios-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            [routerLinkActive]="'text-blue-700'"
            class="bi bi-gift-fill transition duration-75 dark:text-gray-400 group-hover:text-blue-700 dark:group-hover:text-white"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"
            />
          </svg>
          <span class="ms-3">Premios</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/admin/usuarios-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            class="shrink-0 w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-orange-500 dark:group-hover:text-white"
            aria-hidden="true"
            [routerLinkActive]="'text-orange-500'"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 18"
          >
            <path
              d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Usuarios</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/admin/productos-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            [routerLinkActive]="'text-gray-500'"
            height="16"
            fill="currentColor"
            class="bi bi-earbuds transition duration-75 dark:text-gray-400 group-hover:text-gray-500 dark:group-hover:text-white"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M6.825 4.138c.596 2.141-.36 3.593-2.389 4.117a4.4 4.4 0 0 1-2.018.054c-.048-.01.9 2.778 1.522 4.61l.41 1.205a.52.52 0 0 1-.346.659l-.593.19a.55.55 0 0 1-.69-.34L.184 6.99c-.696-2.137.662-4.309 2.564-4.8 2.029-.523 3.402 0 4.076 1.948zm-.868 2.221c.43-.112.561-.993.292-1.969-.269-.975-.836-1.675-1.266-1.563s-.561.994-.292 1.969.836 1.675 1.266 1.563m3.218-2.221c-.596 2.141.36 3.593 2.389 4.117a4.4 4.4 0 0 0 2.018.054c.048-.01-.9 2.778-1.522 4.61l-.41 1.205a.52.52 0 0 0 .346.659l.593.19c.289.092.6-.06.69-.34l2.536-7.643c.696-2.137-.662-4.309-2.564-4.8-2.029-.523-3.402 0-4.076 1.948m.868 2.221c-.43-.112-.561-.993-.292-1.969.269-.975.836-1.675 1.266-1.563s.561.994.292 1.969-.836 1.675-1.266 1.563"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Productos</span>
        </a>
      </li>
      <!-- PROYECTOS POR BONOS
      <li>
        <a
          [routerLink]="['/admin/bonos-admin']"
          [routerLinkActive]="'text-gray-900 bg-gray-100'"
          [routerLinkActiveOptions]="{ exact: false }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            [routerLinkActive]="'text-green-500'"
            fill="currentColor"
            class="bi bi-currency-dollar transition duration-75 dark:text-gray-400 group-hover:text-green-500 dark:group-hover:text-white"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Proyectos por bonos</span>
        </a>
      </li>
    -->
      <li>
        <a
          href="#"
          class="absolute bottom-0 mb-7 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <svg
            class="shrink-0 w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-red-600 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Volver a inicio</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="pt-20 sm:ml-64">
  <router-outlet></router-outlet>
</div>
