<div
  class="container flex gap-2 items-center"
  style="margin-left: 5%; padding-top: 3%"
>
  <h4 class="text-4xl font-bold text-blue-900 dark:text-white">Reportes</h4>
</div>

<div class="mt-2" style="margin-left: 6%; margin-right: 20%">
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-tab"
      data-tabs-toggle="#default-tab-content"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          [routerLink]="['/admin/reportes-admin/puntos']"
          routerLinkActive="border-b-2 border-blue-800 text-blue-800 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 hover:border-blue-800 hover:text-blue-800 rounded-t-lg"
          id="puntos-tab"
          data-tabs-target="#puntos"
          type="button"
          role="tab"
          aria-controls="puntos"
          aria-selected="false"
        >
          Puntos
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          [routerLink]="['/admin/reportes-admin/ideas']"
          routerLinkActive="border-b-2 border-blue-800 text-blue-800 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 hover:border-blue-800 hover:text-blue-800 rounded-t-lg"
          id="ideas-tab"
          data-tabs-target="#ideas"
          type="button"
          role="tab"
          aria-controls="ideas"
          aria-selected="false"
        >
          Ideas
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          [routerLink]="['/admin/reportes-admin/ahorro']"
          routerLinkActive="border-b-2 border-blue-800 text-blue-800 font-bold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 hover:border-blue-800 hover:text-blue-800 rounded-t-lg"
          id="ahorros-tab"
          data-tabs-target="#ahorros"
          type="button"
          role="tab"
          aria-controls="ahorros"
          aria-selected="false"
        >
          Ahorro
        </button>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
