<div class="min-h-fit relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="mb-1 p-2">
    <label for="departamento" class="font-bold text-blue-900 text-2xl mt-2">
      Origen de mejora
    </label>
    <select
      id="departamento"
      class="form-control mt-3 font-bold"
      [(ngModel)]="selectedCategoria"
      (change)="onCategoriaChange()"
    >
      <option [value]="1" class="font-bold">Ideas de mejora</option>
      <option [value]="2" class="font-bold">Lean workshops</option>
      <option [value]="3" class="font-bold">Cambio de nivel de técnicos</option>
      <option [value]="4" class="font-bold">Scrap/CI</option>
      <option [value]="5" class="font-bold">OE</option>
      <option [value]="10" class="font-bold">Ahorro de energía</option>
    </select>
  </div>

  @if(selectedCategoria == 1){
  <div class="mb-4 p-2">
    <label for="departamento" class="font-bold text-blue-900 text-2xl mt-2">
      Área
    </label>
    <select
      id="departamento"
      class="form-control mt-3 font-bold"
      [(ngModel)]="selectedArea"
      (change)="onAreaChange()"
      required
    >
      <option value="" disabled selected class="font-bold">
        Selecciona un área
      </option>
      <option [value]="1" class="font-bold">Exhaust</option>
      <option [value]="2" class="font-bold">Ignicion</option>
      <option [value]="3" class="font-bold">EACV</option>
      <option [value]="4" class="font-bold">Otros</option>
      <option [value]="5" class="font-bold">SRA</option>
    </select>
  </div>

  }
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Titulo</th>
        <th scope="col" class="px-6 py-3">Estatus</th>
        <th scope="col" class="px-6 py-3">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let idea of ideasUsers.data">
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          {{ idea.titulo }}
        </td>
        <td
          scope="row"
          style="font-weight: 700"
          class="px-6 py-4 font-medium text-yellow-500 whitespace-nowrap dark:text-white"
        >
          En revision
        </td>
        <td>
          <button
            (click)="delete(idea.id)"
            type="button"
            class="ml-4 p-2 text-red-700 border border-blue-700 hover:bg-red-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
              />
            </svg>
            <span class="sr-only">Icon description</span>
          </button>
          <a [routerLink]="['/admin/ideas/', idea.id]">
            <button
              type="button"
              class="ml-4 text-blue-700 border border-blue-700 hover:bg-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                <path
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                />
              </svg>
            </button>
          </a>
        </td>
      </tr>
      @if(ideasUsers.data.length === 0){
      <tr>
        <td colspan="3" class="text-center py-4">
          <p class="text-gray-500">No hay ideas/proyectos en revision</p>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <!-- Paginacion -->
  <div
    class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
    *ngIf="ideasUsers"
  >
    <div class="flex flex-1 justify-between sm:hidden">
      <button
        (click)="
          ideasbyStatus(
            1,
            ideasUsers.current_page - 1,
            this.selectedCategoria,
            this.selectedArea
          )
        "
        [disabled]="ideasUsers.current_page === 1"
        class="relative inline-flex transition duration-300 ease-in-out items-center border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Previous
      </button>
      <button
        (click)="
          ideasbyStatus(
            1,
            ideasUsers.current_page + 1,
            this.selectedCategoria,
            this.selectedArea
          )
        "
        [disabled]="ideasUsers.current_page === ideasUsers.last_page"
        class="relative ml-3 inline-flex transition duration-300 ease-in-out items-center border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Next
      </button>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <span class="text-sm text-gray-700 dark:text-gray-400">
          Mostrando de
          <span class="font-semibold text-gray-900 dark:text-white">{{
            (ideasUsers.current_page - 1) * ideasUsers.per_page + 1
          }}</span>
          a
          <span class="font-semibold text-gray-900 dark:text-white">{{
            Math.min(
              ideasUsers.current_page * ideasUsers.per_page,
              ideasUsers.total
            )
          }}</span>
          de
          <span class="font-semibold text-gray-900 dark:text-white">{{
            ideasUsers.total
          }}</span>
          ideas/proyectos en revisión.
        </span>
      </div>
      <div>
        <nav
          class="isolate inline-flex -space-x-px rounded-md shadow-xs"
          aria-label="Pagination"
        >
          <button
            (click)="
              ideasbyStatus(
                1,
                ideasUsers.current_page - 1,
                this.selectedCategoria,
                this.selectedArea
              )
            "
            [disabled]="ideasUsers.current_page === 1"
            class="relative inline-flex items-center px-2 py-2 text-gray-500 focus:z-20 focus:outline-offset-0 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 ease-in-out"
          >
            <span class="sr-only">Previous</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          <button
            (click)="
              ideasbyStatus(
                1,
                ideasUsers.current_page + 1,
                this.selectedCategoria,
                this.selectedArea
              )
            "
            [disabled]="ideasUsers.current_page === ideasUsers.last_page"
            class="relative inline-flex items-center px-2 py-2 text-gray-500 focus:z-20 focus:outline-offset-0 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 ease-in-out"
          >
            <span class="sr-only">Next</span>
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</div>
