<input (input)="inputChanged($event)" type="text" class="border rounded p-2">
<ng-container *ngIf="colaboradores.length > 0">
    <div class="mt-4 space-y-2">
      <label
        *ngFor="let colaborador of colaboradores"
        class="cursor-pointer flex items-center"
      >
        <input
          type="checkbox"
          [value]="colaborador.id"
          [checked]=""
          (change)="selected(colaborador.id)"
          class="mr-2"
        />
        <span>{{ colaborador.nombre }}</span>
      </label>
    </div>
  </ng-container>
  
