<div class="container flex" style="margin-left: 5%; padding-top: 1%">
  <h4 class="mb-2 text-3xl md:text-4xl font-bold text-blue-900 dark:text-white">
    Productos
  </h4>
</div>
<div style="margin-top: 1%; margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%">
    <button
      [routerLink]="['/admin/nuevo-producto']"
      type="button"
      class="text-white bg-blue-800 hover:bg-blue-900 font-bold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2 transition duration-300 ease-in-out"
    >
      Agregar producto
    </button>
  </div>
</div>

<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-400"
    >
      <thead
        class="text-xs text-white uppercase bg-blue-900 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-16 py-3">
            <span class="">Imagen</span>
          </th>
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center gap-2">
              Valor @if(this.listaProductos === false) {
              <button (click)="productosDsc(1)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-up-square-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 9h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5A.5.5 0 0 0 4 11"
                  />
                </svg>
              </button>
              } @if(this.listaProductos === true) {
              <button (click)="productosAsc(1)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down-square-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6z"
                  />
                </svg>
              </button>
              }
            </div>
          </th>
          <th scope="col" class="px-6 py-3">Opciones</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos.data">
          <td class="p-4">
            <!--Hay que validar el index del producto -->
            <img
              [src]="
                producto.imagen?.imagen
                  ? getImageUrl(producto.imagen.imagen)
                  : producto.url
              "
              class="w-16 md:w-32 max-w-full max-h-full"
              alt="Borgwarner"
            />
            <span class="text-xs text-gray-500 dark:text-gray-400 justify-">
              Esta imagen es solo de ejemplo, no es la imagen del producto que
              se otorgará
            </span>
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ producto.nombre }}
          </td>
          <td class="px-6 py-4 font-semibold text-blue-800 dark:text-white">
            {{ producto.valor }} puntos
          </td>
          <td class="items-center">
            <button
              [routerLink]="['/admin/productos/', producto.id]"
              type="button"
              class="ml-4 text-blue-700 border border-blue-700 hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
              </svg>
              <span class="sr-only">Icon description</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
      *ngIf="productos"
    >
      <div class="flex flex-1 justify-between sm:hidden">
        <button
          (click)="onPageChange(productos.current_page - 1)"
          [disabled]="productos.current_page === 1"
          class="relative inline-flex transition duration-300 ease-in-out items-center border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Previous
        </button>
        <button
          (click)="onPageChange(productos.current_page + 1)"
          [disabled]="productos.current_page === productos.last_page"
          class="relative ml-3 inline-flex transition duration-300 ease-in-out items-center border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Next
        </button>
      </div>
      <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div>
          <span class="text-sm text-gray-700 dark:text-gray-400">
            Mostrando de
            <span class="font-semibold text-gray-900 dark:text-white">{{
              (productos.current_page - 1) * productos.per_page + 1
            }}</span>
            a
            <span class="font-semibold text-gray-900 dark:text-white">{{
              Math.min(
                productos.current_page * productos.per_page,
                productos.total
              )
            }}</span>
            de
            <span class="font-semibold text-gray-900 dark:text-white">{{
              productos.total
            }}</span>
            productos
          </span>
        </div>
        <div>
          <nav
            class="isolate inline-flex -space-x-px rounded-md shadow-xs"
            aria-label="Pagination"
          >
            <button
              (click)="onPageChange(productos.current_page - 1)"
              [disabled]="productos.current_page === 1"
              class="relative inline-flex items-center px-2 py-2 text-gray-500 focus:z-20 focus:outline-offset-0 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 ease-in-out"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="size-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
            <button
              (click)="onPageChange(productos.current_page + 1)"
              [disabled]="productos.current_page === productos.last_page"
              class="relative inline-flex items-center px-2 py-2 text-gray-500 focus:z-20 focus:outline-offset-0 hover:border-b-2 hover:border-blue-700 hover:text-gray-900 disabled:border-b-0 disabled:opacity-50 disabled:cursor-not-allowed transition duration-300 ease-in-out"
            >
              <span class="sr-only">Next</span>
              <svg
                class="size-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
