<div
  class="container grid sm:flex sm:gap-6 items-center"
  style="margin-left: 5%; padding-top: 1%"
>
  <h4 class="mt-6 mb-3 text-4xl font-bold text-blue-900 dark:text-white">
    @if(user_rol == 4 || user_rol == 3) { Tus ideas } @else{ Todas las ideas }
  </h4>
  <button
    [routerLink]="['/newIdea']"
    type="button"
    class="animate-bounce delay-400 ml-3 shadow-md h-fit w-fit text-white bg-blue-900 font-bold rounded-lg text-sm px-4 py-2 text-center me-2"
  >
    Nueva Idea
  </button>
</div>

<div class="mt-2" style="margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%"></div>
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
      data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(1)"
          [routerLink]="['revision']"
          routerLinkActive="text-amber-500 border-b-2 border-amber-500 "
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-amber-500 inline-block p-4 hover:border-b-2 hover:border-amber-500 rounded-t-lg"
          id="profile-styled-tab"
          aria-selected="false"
        >
          En revision
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(2)"
          [routerLink]="['aceptadas']"
          routerLinkActive="text-green-500 border-b-2 border-green-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 rounded-t-lg hover:text-green-500 hover:border-green-500"
          id="dashboard-styled-tab"
          type="button"
          role="tab"
          aria-controls="dashboard"
          aria-selected="false"
        >
          Aceptadas
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(3)"
          [routerLink]="['implementadas']"
          routerLinkActive="text-blue-500 border-b-2 border-blue-500"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 rounded-t-lg hover:text-blue-500 hover:border-blue-500"
          id="settings-styled-tab"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Implementadas
        </button>
      </li>
      <li role="presentation">
        <button
          (click)="misIdeas(4)"
          [routerLink]="['rechazadas']"
          routerLinkActive="text-red-700 border-b-2 border-red-700"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-block p-4 hover:border-b-2 rounded-t-lg hover:text-red-700 hover:border-red-700"
          id="contacts-styled-tab"
          type="button"
          role="tab"
          aria-controls="contacts"
          aria-selected="false"
        >
          Rechazadas
        </button>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>

<!--
@if(user_rol == '4' || user_rol == '3') {
<div class="container flex" style="margin-left: 5%; padding-top: 1%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Tus ideas
  </h4>
</div>
<div style="margin-top: 1%; margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%">
    <button
      [routerLink]="['/newIdea']"
      type="button"
      class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none
       focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2"
    >
      Nueva Idea
    </button>
  </div>
</div>
<div class="mt-2" style="margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%"></div>

  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
      data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(1)"
          class="hover:text-amber-600 inline-block p-4 border-b-2 rounded-t-lg"
          id="profile-styled-tab"
          aria-selected="false"
        >
          En revision
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(2)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-green-500 hover:border-gray-300 dark:hover:text-gray-300"
          id="dashboard-styled-tab"
          type="button"
          role="tab"
          aria-controls="dashboard"
          aria-selected="false"
        >
          Aceptadas
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="misIdeas(3)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="settings-styled-tab"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Implementadas
        </button>
      </li>
      <li role="presentation">
        <button
          (click)="misIdeas(4)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-red-700 hover:border-gray-300 dark:hover:text-gray-300"
          id="contacts-styled-tab"
          type="button"
          role="tab"
          aria-controls="contacts"
          aria-selected="false"
        >
          Rechazadas
        </button>
      </li>
    </ul>
  </div>
  @if(ideas.length != 0) {
  <div class="min-h-fit relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Titulo</th>
          <th scope="col" class="px-6 py-3">Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let idea of ideas">
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ idea.titulo }}
          </td>
          @if(idea.estatus == 1) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-yellow-500 whitespace-nowrap dark:text-white"
          >
            En revision
          </td>
          } @else if(idea.estatus == 2) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-emerald-600 whitespace-nowrap dark:text-white"
          >
            Aceptada
          </td>
          } @else if(idea.estatus == 3) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-blue-700 whitespace-nowrap dark:text-white"
          >
            Implementada
          </td>
          } @else if(idea.estatus == 4) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-red-800 whitespace-nowrap dark:text-white"
          >
            Rechazada
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  } @else {
  <h5
    class="hover:animate-bounce mb-2 text-3xl font-bold text-blue-600 dark:text-white"
  >
    ¡No tienes ideas registradas con este estatus!
  </h5>
  }
</div>
} @else if(user_rol == '1') {
<div class="container flex" style="margin-left: 5%; padding-top: 3%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Todas las ideas
  </h4>
</div>

<div style="margin-top: 1%; margin-left: 6%; margin-right: 20%">
  <div class="flex">
    <div class="w-fit" style="margin-bottom: 1%">
      <button
        [routerLink]="['/reportes']"
        type="button"
        class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2"
      >
        Reportes
      </button>
    </div>
    <div class="w-fit" style="margin-bottom: 1%">
      <button
        [routerLink]="['/newIdea']"
        type="button"
        class="mb-3 ml-4 text-white bg-gradient-to-br from-indigo-400 to-indigo-700 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2"
      >
        Nueva Idea
      </button>
    </div>
  </div>
</div>

<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%"></div>

  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
      data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(1)"
          class="hover:text-amber-600 inline-block p-4 border-b-2 rounded-t-lg"
          id="profile-styled-tab"
          aria-selected="false"
        >
          En revision
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(2)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-green-500 hover:border-gray-300 dark:hover:text-gray-300"
          id="dashboard-styled-tab"
          type="button"
          role="tab"
          aria-controls="dashboard"
          aria-selected="false"
        >
          Aceptadas
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(3)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="settings-styled-tab"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Implementadas
        </button>
      </li>
      <li role="presentation">
        <button
          (click)="ideasbyStatus(4)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-red-700 hover:border-gray-300 dark:hover:text-gray-300"
          id="contacts-styled-tab"
          type="button"
          role="tab"
          aria-controls="contacts"
          aria-selected="false"
        >
          Rechazadas
        </button>
      </li>
    </ul>
  </div>
  @if(ideasUsers.length != 0) {
  <div class="min-h-fit relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Titulo</th>
          <th scope="col" class="px-6 py-3">Estatus</th>
          @if(user_rol == '1') {
          <th scope="col" class="px-6 py-3">Opciones</th>
          } @else { }
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let idea of ideasUsers">
          @if(user_rol == '1'){
          <td
            class="px-6 py-4 font-semibold text-gray-900 dark:text-white hover:text-blue-500"
          >
            <a [routerLink]="['/ideas/', idea.id]">{{ idea.titulo }}</a>
          </td>
          } @else {
          <td
            class="px-6 py-4 font-semibold text-gray-900 dark:text-white hover:text-blue-500"
          >
            <a [routerLink]="['/idea/', idea.id]">{{ idea.titulo }}</a>
          </td>
          } @if(idea.estatus == 1) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-yellow-500 whitespace-nowrap dark:text-white"
          >
            En revision
          </td>
          } @else if(idea.estatus == 2) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-emerald-600 whitespace-nowrap dark:text-white"
          >
            Aceptada
          </td>
          } @else if(idea.estatus == 3) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-blue-700 whitespace-nowrap dark:text-white"
          >
            Implementada
          </td>
          } @else if(idea.estatus == 4) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-red-800 whitespace-nowrap dark:text-white"
          >
            Rechazada
          </td>
          }
          <td>
            <button
              (click)="delete(idea.id)"
              type="button"
              class="ml-4 text-blue-700 border border-blue-700 hover:bg-red-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
            >
              <img
                class="w-4 h-4"
                aria-hidden="true"
                src="./../../assets/delete.png"
                fill="currentColor"
                viewBox="0 0 18 18"
              />
              <span class="sr-only">Icon description</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  } @else {
  <h5
    class="hover:animate-bounce mb-2 text-3xl font-bold text-blue-600 dark:text-white"
  >
    ¡No hay ideas registradas!
  </h5>
  }
</div>
} @else {
<div class="container flex" style="margin-left: 5%; padding-top: 3%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Todas las ideas
  </h4>
</div>

<div style="margin-top: 1%; margin-left: 6%; margin-right: 20%">
  <div class="flex">
    <div class="w-fit" style="margin-bottom: 1%">
      <button
        [routerLink]="['/reportes']"
        type="button"
        class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2 mb-2"
      >
        Reportes
      </button>
    </div>
    <div class="w-fit" style="margin-bottom: 1%">
      <button
        [routerLink]="['/newIdea']"
        type="button"
        class="mb-3 ml-4 text-white bg-gradient-to-br from-indigo-400 to-indigo-700 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-4 py-2 text-center me-2"
      >
        Nueva Idea
      </button>
    </div>
  </div>
</div>

<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="w-fit" style="margin-bottom: 1%"></div>

  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-styled-tab"
      data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
      data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(1)"
          class="hover:text-amber-600 inline-block p-4 border-b-2 rounded-t-lg"
          id="profile-styled-tab"
          aria-selected="false"
        >
          En revision
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(2)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-green-500 hover:border-gray-300 dark:hover:text-gray-300"
          id="dashboard-styled-tab"
          type="button"
          role="tab"
          aria-controls="dashboard"
          aria-selected="false"
        >
          Aceptadas
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          (click)="ideasbyStatus(3)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-blue-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="settings-styled-tab"
          type="button"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Implementadas
        </button>
      </li>
      <li role="presentation">
        <button
          (click)="ideasbyStatus(4)"
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-red-700 hover:border-gray-300 dark:hover:text-gray-300"
          id="contacts-styled-tab"
          type="button"
          role="tab"
          aria-controls="contacts"
          aria-selected="false"
        >
          Rechazadas
        </button>
      </li>
    </ul>
  </div>
  @if(ideasUsers.length != 0) {
  <div class="min-h-fit relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Titulo</th>
          <th scope="col" class="px-6 py-3">Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let idea of ideasUsers">
          @if(user_rol == '1'){
          <td
            class="px-6 py-4 font-semibold text-gray-900 dark:text-white hover:text-blue-500"
          >
            <a [routerLink]="['/ideas/', idea.id]">{{ idea.titulo }}</a>
          </td>
          } @else {
          <td
            class="px-6 py-4 font-semibold text-gray-900 dark:text-white hover:text-blue-500"
          >
            <a [routerLink]="['/idea/', idea.id]">{{ idea.titulo }}</a>
          </td>
          } @if(idea.estatus == 1) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-yellow-500 whitespace-nowrap dark:text-white"
          >
            En revision
          </td>
          } @else if(idea.estatus == 2) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-emerald-600 whitespace-nowrap dark:text-white"
          >
            Aceptada
          </td>
          } @else if(idea.estatus == 3) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-blue-700 whitespace-nowrap dark:text-white"
          >
            Implementada
          </td>
          } @else if(idea.estatus == 4) {
          <td
            scope="row"
            style="font-weight: 700"
            class="px-6 py-4 font-medium text-red-800 whitespace-nowrap dark:text-white"
          >
            Rechazada
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  } @else {
  <h5
    class="hover:animate-bounce mb-2 text-3xl font-bold text-blue-600 dark:text-white"
  >
    ¡No hay ideas registradas!
  </h5>
  }
</div>
} -->
