<div
  id="container"
  class="h-screen w-full flex justify-center"
  style="background-image: url(../../../assets/blue-back.png)"
>
  <div>
    <div
      class="container items-center"
      style="margin-top: 3%; text-align: center"
    >
      <h5
        class="mb-2 text-4xl font-bold inline-block text-transparent bg-clip-text dark:text-white bg-gradient-to-r from-teal-300 via-green-300 to-cyan-400"
      >
        ¡Bienvenido(a) {{ user?.nombre }}!
      </h5>
      <h6 class="mb-2 text-xl font-bold text-white dark:text-gray-400">
        @if(user?.rol_id == 4){ Este es tu espacio para compartir tus ideas y
        poder canjear tus puntos por premios } @else if(user?.rol_id == 1){ En
        este espacio podras administrar las ideas propuestas, registrar usuarios
        y otorgar puntos } @else if(user?.rol_id == 2){ En este espacio podras
        visualizar las ideas propuestas y reportes } @else if(user?.rol_id ==
        3){ En este espacio podras registrar usuarios } @else if(user?.rol_id ==
        5){ Haz iniciado sesión como invitado }
      </h6>

      <h6 class="mb-4 text-xl font-bold text-white dark:text-gray-400">
        @if(user?.rol_id == 4){ ¡Gracias por participar! } @else if(user?.rol_id
        == 1 || user?.rol_id == 2 || user?.rol_id == 3){ ¡Gracias por tu
        confianza! } @else if(user?.rol_id == 5){ Si crees que se trata de un
        error, contacta a tu administrador }
      </h6>
    </div>
    <div class="flex flex-col items-center pb-10">
      <img
        class="w-24 h-24 mb-3 animate-pulse"
        src="../../assets/idea2.png"
        alt="idea image"
      />
    </div>
  </div>
</div>
