<div class="min-h-fit relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Titulo</th>
        <th scope="col" class="px-6 py-3">Estatus</th>
        <th scope="col" class="px-6 py-3">Ver idea</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let idea of ideas">
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          <a [routerLink]="['/idea/', idea.id]">{{ idea.titulo }}</a>
        </td>
        <td
          scope="row"
          style="font-weight: 700"
          class="px-6 py-4 font-medium text-blue-600 whitespace-nowrap dark:text-white"
        >
          Rechazada
        </td>
        <td>
          <a [routerLink]="['/idea/', idea.id]">
            <button
              type="button"
              class="ml-4 text-blue-700 border border-blue-700 hover:bg-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                <path
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                />
              </svg>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  @if(ideas.length === 0){
  <div class="text-center p-4">
    <p class="text-gray-500">No hay ideas tuyas implementadas.</p>
  </div>
  }
</div>
