<div class="container flex" style="margin-left: 5%; padding-top: 1%">
  <h4 class="mb-2 text-4xl font-bold text-blue-900 dark:text-white">
    Tus premios
  </h4>
</div>

<div style="margin-top: 2%; margin-left: 6%; margin-right: 20%">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-white uppercase bg-blue-800 dark:bg-gray-700 dark:text-gray-400 text-center"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Folio</th>
          <th scope="col" class="px-6 py-3">Producto</th>

          <th scope="col" class="px-6 py-3">Estado</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @if(premios?.length === 0) {
        <tr>
          <td colspan="3" class="px-6 py-4 text-center text-gray-500">
            No hay premios a su nombre disponibles.
          </td>
        </tr>

        } @else {
        <tr *ngFor="let premio of premios">
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ premio.folio }}
          </td>
          <td
            class="px-6 py-4 font-semibold text-blue-800 dark:text-white items-center"
          >
            <figure class="max-w-lg text-center">
              <img
                [src]="premio.imagen ? getImageUrl(premio.imagen) : premio.url"
                class="w-16 md:w-32 max-w-full max-h-full text-center mx-auto"
                alt="Borgwarner"
              />
              <figcaption class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                {{ premio.producto }}
              </figcaption>
            </figure>
          </td>
          <td class="px-6 py-4 font-semibold text-blue-800 dark:text-white">
            {{ premio.estado }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
