<nav class="bg-bw border-gray-100 dark:bg-gray-900 w-fit">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-full p-3">
      @if(user_rol == null)
      {
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="../../assets/logoWhite.png" class="h-6" alt="Borgwarner Logo" />
      </a>
      }
      @else {
        <a [routerLink]="['/dashboard']" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../assets/logoWhite.png" class="h-6" alt="Borgwarner Logo" />
        </a>
      }
        @if (user_token != null) {
          <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <button [routerLink]="['/myProfile']" type="button" class="flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-8 h-8 rounded-full" src="../../assets/whiteProfile.png" alt="user photo">
                </button>

                <button (click)="logout()" type="button" class=" text-white font-bold flex text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false">
                 Log Out
                </button>
        </div>


      }
      @else {
      }
    </div>
</nav>
@if (user_rol == '4') {
<nav class="bg-gray-50 dark:bg-gray-700 ">
            <div class="max-w-screen-xl px-4 py-3 mx-auto">
                <div class="flex items-center">
                    <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                        <li>
                            <a [routerLink]="['/dashboard']" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
                        </li>
                        <li>
                            <a [routerLink]="['/ideas']" class="text-gray-900 dark:text-white hover:underline">Mis Ideas</a>
                        </li>
                        <li>
                            <a [routerLink]="['/productos']" class="text-gray-900 dark:text-white hover:underline">Productos</a>
                        </li>
                        <li>
                          <a [routerLink]="['/premios']" class="text-gray-900 dark:text-white hover:underline">Mis Premios</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
}
@else if(user_rol == '1') {
  <nav class="bg-gray-50 dark:bg-gray-700" style="width: 100%;">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a [routerLink]="['/dashboard']" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/ideas']" class="text-gray-900 dark:text-white hover:underline">Ideas</a>
                </li>
                <li>
                    <a [routerLink]="['/usuarios']" class="text-gray-900 dark:text-white hover:underline">Usuarios</a>
                </li>
                <li>
                  <a [routerLink]="['/productos']" class="text-gray-900 dark:text-white hover:underline">Productos</a>
                </li>
                <li>
                  <a [routerLink]="['/premios']" class="text-gray-900 dark:text-white hover:underline">Premios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
}
@else if(user_rol == '2') {
  <nav class="bg-gray-50 dark:bg-gray-700" style="width: 100%;">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a [routerLink]="['/dashboard']" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/ideas']" class="text-gray-900 dark:text-white hover:underline">Ideas</a>
                </li>
                <li>
                    <a [routerLink]="['/usuarios']" class="text-gray-900 dark:text-white hover:underline">Usuarios</a>
                </li>
                <li>
                  <a [routerLink]="['/productos']" class="text-gray-900 dark:text-white hover:underline">Productos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
}
@else if(user_rol == '3') {
  <nav class="bg-gray-50 dark:bg-gray-700 sm:w-fit">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a [routerLink]="['/dashboard']" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/usuarios']" class="text-gray-900 dark:text-white hover:underline">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
}
@else {
  
}

