<app-app-navbar></app-app-navbar>
<div class="container w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700" style="margin-top: 3%;">
    <h5 class="text-center mb-2 text-3xl font-bold inline-block text-blue-950">¿Deseas agregar colaboradores?</h5>
    
    <div class="container mt-3 flex px-20">


<!-- Modal toggle -->
<button data-modal-target="colaborador-modal" data-modal-toggle="colaborador-modal" class=" text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" type="button">
    Si
  </button>
  
  <!-- Main modal -->
  <div id="colaborador-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Agregar un colaborador
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="colaborador-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              
              <!-- Modal body -->
              <form class="p-4 md:p-5">
                <div class="p-2 md:p-2 border-b rounded-t dark:border-gray-600">
                    <input (input)="inputChanged($event)" type="text" class="border rounded p-2">
                    <ng-container *ngIf="colaboradores.length > 0">
                        <div class="mt-4 space-y-2">
                          <label
                            *ngFor="let colaborador of colaboradores"
                            class="cursor-pointer flex items-center"
                          >
                            <input
                              type="checkbox"
                              [value]="colaborador.id"
                              [checked]=""
                              (change)="selected(colaborador.id)"
                              class="mr-2"
                            />
                            <span>{{ colaborador.nombre }}</span>
                          </label>
                        </div>
                      </ng-container>
                </div>
                  <button (click)="agregarColab()" class="mt-4 text-white inline-flex items-center bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Agregar
                </button>
              </form>
          </div>
      </div>
  </div> 
  
  <!--aqui acaba el modal-->

  <button (click)="goBack()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">No</button>
    </div>

</div>
