<!--ngIf para validar el rol de los usuarios-->

<div class="container" id="container" style="margin-bottom: 5%">
  <h1 class="question">¿QUÉ ES PREMIA TU IDEA?</h1>
  <br />

  <div
    class="container max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    style="padding: 3%; margin-top: 1%"
  >
    <img
      class="w-24 h-24 mb-3 items-center"
      aria-hidden="true"
      src="../../assets/idea.png"
      fill="currentColor"
      style="margin-left: 44%"
    />

    <h3
      id=""
      class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
      style="color: rgb(37, 34, 90)"
    >
      SI TIENES UNA IDEA QUE PUEDE MEJORAR ALGUNO DE ESTOS PUNTOS:
    </h3>

    <ul
      class="py-2 items-center text-md font-medium text-gray-500 list-disc list-inside dark:text-gray-400"
    >
      <li>La seguridad</li>
      <li>La producción</li>
      <li>Reducción de SCRAP o Tiempos muertos</li>
      <li>Generar algun tipo de ahorro a la planta</li>
    </ul>
    <h5
      class="yay text-center mt-4 font-bold animate-bounce"
      style="margin-top: 1%"
    >
      ¡Tu idea puede ser escuchada, implementada y PREMIADA!
    </h5>
    <div class="container" style="margin-top: 1%; text-align: center">
      @if(user_token != null) {
      <a
        (click)="dashboard()"
        class="ref inline-flex font-medium items-center text-blue-600 hover:underline"
        style="margin-top: 2%"
      >
        Ir a inicio
      </a>
      } @else {
      <p>
        ¿Primera vez en el sitio?
        <a
          [routerLink]="['/activar']"
          class="ref inline-flex font-medium items-center text-blue-800 hover:underline"
          style="margin-top: 5%"
        >
          ¡Activa tu cuenta aquí!
        </a>
      </p>
      <br />
      <a
        [routerLink]="['/login']"
        class="ref inline-flex font-medium items-center text-blue-600 hover:underline"
        style="margin-top: 2%"
      >
        Iniciar sesión
      </a>
      }
    </div>
  </div>
</div>
