<!--ngIf para validar el rol de los usuarios-->
<app-app-navbar></app-app-navbar>
<div class="container" style="margin-bottom: 5%;">
    <h1 class="question">¿QUÉ ES PREMIA TU IDEA?</h1>
    <br>

    <div class="container max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" style="padding: 3%; margin-top: 2%;">
        <img class="w-24 h-24 mb-3" aria-hidden="true" src="../../assets/idea.png" fill="currentColor" style="margin-left: 40%;">
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white" style="color: rgb(41, 53, 120);">SI TIENES UNA IDEA QUE PUEDE MEJORAR ALGUNO DE ESTOS PUNTOS:</h5>
        </a>
        <ul class="py-2">
            <li>• La seguridad</li>
            <li>• La producción</li>
            <li>• Reducción de SCRAP o Tiempos muertos</li>
            <li>• O generarle algun tipo de ahorro a la planta</li>
        </ul>
        <h5 class="yay font-bold hover:animate-bounce" style="margin-top: 1%;">¡Tu idea puede ser escuchada, implementada y PREMIADA!</h5>
        <div class="container" style="margin-top: 5%; text-align: center;">
            <a href="#" class="ref inline-flex font-medium items-center text-blue-800 hover:underline" style="margin-top: 5%;">
                ¿Primera vez en el sitio? ¡Activa tu cuenta!
            </a><br>
            <a href="#" class="ref inline-flex font-medium items-center text-blue-600 hover:underline" style="margin-top: 2%;">
                Iniciar sesión
            </a>
        </div>
    </div>
</div>
