<div
  class="myContainer flex flex-col md:flex-row gap-6 items-center md:items-start w-full px-4"
>
  <!-- Tarjeta de perfil -->
  <div
    class="w-full md:w-1/2 bg-white border border-gray-200 rounded-lg dark:border-gray-700 profileCard"
  >
    <div class="flex justify-end px-4 pt-4"></div>
    <div class="flex flex-col pb-3 text-left px-4">
      <div class="flex flex-col pb-3 items-center">
        <img
          class="w-24 h-24 mb-3 rounded-full"
          src="../../assets/userIcon.png"
          alt="User Icon"
        />
        <h5
          class="mb-1 text-xl font-bold text-center text-gray-900 dark:text-white"
        >
          {{ user?.nombre }}
        </h5>
        <span class="text-sm font-semibold text-gray-500 dark:text-gray-400">
          {{ user?.ibm }}
        </span>
      </div>

      <div class="text-center mt-4">
        <h6 class="mb-1 text-lg font-bold text-gray-900 dark:text-white">
          Departamento
        </h6>
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">
          {{ user?.departamento }}
        </p>

        <h6 class="mb-1 text-lg font-bold text-gray-900 dark:text-white">
          Área
        </h6>
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">
          {{ user?.area }}
        </p>

        <h6 class="mb-1 text-lg font-bold text-gray-900 dark:text-white">
          Locación
        </h6>
        @if(user?.locacion_id == null) {
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">
          N/A
        </p>
        } @else {
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">
          {{ user?.locacion }}
        </p>
        }
      </div>
    </div>

    <!--  actualización de contraseña -->
    <div class="mt-8 p-2">
      <div class="flex-col justify-center">
        <h5 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
          Actualizar contraseña
        </h5>
      </div>

      <form
        (ngSubmit)="updatePassword()"
        [formGroup]="form"
        class="space-y-4 md:space-y-6"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Contraseña actual -->
          <div class="w-full">
            <label
              for="old_password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Contraseña actual
            </label>
            <input
              formControlName="password"
              type="password"
              id="password"
              name="password"
              required
              placeholder="Ingresa tu contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            />
            @if(password?.invalid && (password?.dirty || password?.touched)){
            @if(password?.hasError('minlength')) {
            <small class="text-danger"
              >Tu contraseña debe tener al menos 8 caracteres.</small
            >
            } }
          </div>

          <!-- Nueva contraseña -->
          <div class="w-full">
            <label
              for="new_password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Nueva contraseña
            </label>
            <div class="flex items-center gap-2">
              <input
                formControlName="new_password"
                [type]="showNewPassword ? 'text' : 'password'"
                id="new_password"
                name="new_password"
                required
                placeholder="Ingresa tu nueva contraseña"
                class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              />
              <button
                type="button"
                (click)="toggleNewPasswordVisibility()"
                class="text-gray-600 dark:text-gray-300 hover:text-blue-700 dark:hover:text-white transition duration-300 ease-in-out"
                tabindex="-1"
              >
                <svg
                  *ngIf="!showNewPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                  />
                </svg>
                <svg
                  *ngIf="showNewPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-eye-slash-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
                  />
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
                  />
                </svg>
              </button>
            </div>
            @if(newPassword?.invalid && (newPassword?.dirty ||
            newPassword?.touched)){ @if(newPassword?.hasError('minlength')) {
            <small class="text-danger"
              >Tu contraseña debe tener al menos 8 caracteres.</small
            >
            } }
          </div>
        </div>

        <!-- Confirmación de contraseña -->
        <div class="w-full">
          <label
            for="new_password_confirmation"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >
            Confirmar Nueva contraseña
          </label>
          <div class="flex items-center gap-2">
            <input
              formControlName="new_password_confirmation"
              [type]="showNewPasswordConfirmation ? 'text' : 'password'"
              id="new_password_confirmation"
              name="new_password_confirmation"
              required
              placeholder="Confirma tu nueva contraseña"
              class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            />
            <button
              type="button"
              (click)="toggleNewPasswordConfirmationVisibility()"
              class="text-gray-600 dark:text-gray-300 hover:text-blue-700 dark:hover:text-white transition duration-300 ease-in-out"
              tabindex="-1"
            >
              <svg
                *ngIf="!showNewPasswordConfirmation"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                <path
                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                />
              </svg>
              <svg
                *ngIf="showNewPasswordConfirmation"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-eye-slash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"
                />
                <path
                  d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"
                />
              </svg>
            </button>
          </div>
          @if(newPasswordConfirmation?.invalid &&
          (newPasswordConfirmation?.dirty || newPasswordConfirmation?.touched)){
          @if(newPasswordConfirmation?.hasError('minlength')) {
          <small class="text-danger"
            >Tu contraseña debe tener al menos 8 caracteres.</small
          >
          } }
          <br />
          @if (form.errors?.['passwordMismatch'] &&
          (form.get('confirmed_password')?.touched ||
          form.get('confirmed_password')?.dirty)) {
          <small class="text-red-500 text-sm"
            >Las contraseñas no coinciden.</small
          >
          }
        </div>

        @if(errorMessage){
        <div class="text-red-500 text-sm mt-2 text-center">
          {{ errorMessage }}
        </div>
        }

        <button
          [disabled]="!form.valid"
          type="submit"
          class="w-full md:w-auto px-5 py-2.5 text-sm font-medium text-white bg-blue-800 rounded-lg hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition duration-300 ease-in-out disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-gray-500"
        >
          Actualizar
        </button>
      </form>
    </div>
  </div>

  <!-- Sección de puntos -->
  <div class="w-full md:w-1/2 profileCard">
    <div
      class="p-4 text-left bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">
        Mis puntos
      </h5>

      @if(user?.puntos == 0) {
      <h6 class="mb-2 text-lg font-semibold text-blue-800 dark:text-white">
        Aún no cuentas con puntos
      </h6>
      } @else {
      <h6 class="mb-4 text-lg font-semibold text-emerald-700 dark:text-white">
        {{ user?.puntos }} puntos
      </h6>
      }

      <h5 class="mb-2 text-xl font-bold text-blue-900 dark:text-white">
        Ideas implementadas
      </h5>

      <div class="overflow-y-auto max-h-64">
        @if(ideas.length != 0) {
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th class="px-6 py-3">Título</th>
              <th class="px-6 py-3">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let idea of ideas">
              <td class="px-6 py-4 font-bold text-gray-900 dark:text-white">
                {{ idea.titulo }}
              </td>
              @if(idea.estatus == 1) {
              <td class="px-6 py-4 font-bold text-yellow-500 dark:text-white">
                En revisión
              </td>
              } @else if(idea.estatus == 2) {
              <td class="px-6 py-4 font-bold text-emerald-600 dark:text-white">
                Aceptada
              </td>
              } @else if(idea.estatus == 3) {
              <td class="px-6 py-4 font-bold text-blue-700 dark:text-white">
                Implementada
              </td>
              } @else if(idea.estatus == 4) {
              <td class="px-6 py-4 font-bold text-red-800 dark:text-white">
                Rechazada
              </td>
              }
            </tr>
          </tbody>
        </table>
        } @else {
        <h5 class="mt-4 text-lg font-semibold text-blue-600 dark:text-white">
          ¡Aún no tienes ideas implementadas!
        </h5>
        }
      </div>
    </div>
  </div>
</div>
