<app-app-navbar></app-app-navbar>

<div class="myContainer">
<div class="w-full max-w-80 bg-white border border-gray-200 rounded-lg dark:border-gray-700 profileCard">
    <div class="flex justify-end px-4 pt-4">
       
    </div>
    <div class="flex flex-col pb-3" style="text-align: left;margin-left: 5%;">
        <div class="flex flex-col pb-3 items-center">
            <img class="w-24 h-24 mb-3 rounded-full" src="../../assets/userIcon.png" alt="User Icon"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white" style="font-weight: 700; color: rgb(38, 38, 107);">{{user?.nombre}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400" style="font-weight: 600;">{{user?.ibm}}</span>
        </div>
    
        <h6 class="mb-1 text-l font-medium text-gray-900 dark:text-white" style="font-weight: 700">Correo electronico</h6>
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">{{user?.email}}</p>
        <h6 class="mb-1 text-l font-medium text-gray-900 dark:text-white" style="font-weight: 700">Departamento</h6>
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">{{user?.departamento}}</p>
        <h6 class="mb-1 text-l font-medium text-gray-900 dark:text-white" style="font-weight: 700">Area</h6>
        <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">{{user?.area}}</p>
        <h6 class="mb-1 text-l font-medium text-gray-900 dark:text-white" style="font-weight: 700">Locacion</h6>
        @if(user?.locacion_id == null)
        {
            <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">N/A</p>
        }
        @else {
            <p class="mb-1 text-md font-medium text-gray-900 dark:text-white">{{user?.locacion}}</p>
        }
        <div class="flex mt-4 md:mt-6">
        </div>
    </div>
</div>
<div class="profileCard" style="width: 60%;">

    <div class="min-w-full p-4 text-left bg-white border border-gray-200 rounded-lg sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        
        @if(user?.rol_id == 1 || user?.rol_id == 2)
        {
            <h5 class="mb-2 text-3xl font-bold text-blue-900 dark:text-white">Eres un administrador, por lo tanto no estas habbilitado para obtener puntos</h5>
        }
        @else{
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Mis puntos</h5>
        @if(user?.puntos == 0)
        {
            <h6 class="mb-1 text-lg font-semibold text-blue-800 dark:text-white">Aún no cuentas con puntos</h6>
        }
        @else {
             <h6 class="mb-1 text-lg font-semibold text-emerald-700 dark:text-white">{{user?.puntos}} puntos</h6>
        }
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Ideas implementadas</h5>
        <div class=" justify-normal space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
            @if(ideas.length != 0)
            { 
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Titulo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Estatus
                            </th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let idea of ideas">
                        <td scope="row" style="font-weight: 700;" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{idea.titulo}}</td>
                        @if(idea.estatus == 1)
                        {
                            <td  scope="row" style="font-weight: 700;" class="px-6 py-4 font-medium text-yellow-500 whitespace-nowrap dark:text-white">En revision</td>
                        }
                        @else if(idea.estatus == 2) {
                            <td  scope="row" style="font-weight: 700;" class="px-6 py-4 font-medium text-emerald-600 whitespace-nowrap dark:text-white">Aceptada</td>
                        }
                        @else if(idea.estatus == 3) {
                            <td  scope="row" style="font-weight: 700;" class="px-6 py-4 font-medium text-blue-700 whitespace-nowrap dark:text-white">Implementada</td>
                        }
                        @else if(idea.estatus == 4) {
                            <td  scope="row" style="font-weight: 700;" class="px-6 py-4 font-medium text-red-800 whitespace-nowrap dark:text-white">Rechazada</td>
                        }
                        
                        
                    </tbody>
                </table>
            }
            @else {
                <h5 class="mb-2 text-2xl font-bold text-blue-600 dark:text-white">¡Aun no tienes ideas implementadas!</h5> 
            }
        </div>
    }
    
</div>



</div>




